.footer {
  background: #222f38;
  padding: 20px;
  &__text {
    color: #ffffff;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__link {
    color: #ffffff;
    text-decoration: underline;
    &:hover {
      color: #ffffff;
    }
  }
}
