@media (hover: hover) and (pointer: fine) {
  .mainscreen__btn {
    &:hover {
      box-shadow: 0px 4px 20px rgba(23, 72, 189, 0.5);
      &:before {
        opacity: 1;
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
  .contact__form-consent-text a:hover {
    text-decoration: 2px solid #1748bd underline;
  }
}
